---
title: BitFS API接口文档

language_tabs: # must be one of https://git.io/vQNgJ
  - json
  
toc_footers:

includes:
  - bitfs.md.erb
  - payApi.md

search: true
---

# 简介

## 简介

欢迎使用BitFS。

BitFS致力打造全新支付方式，开启未来支付新姿势！提供稳定、安全、可靠的数字货币支付通道。

本文档是官方唯一指定API文档。您可以在右侧的阴影区域查看代码示例，还可以通过右上角的选项卡切换示例的编程语言。

## 更新

关于API的更新情况，BitFS会发布在帮助中心的API公告处，您可点击<a href="https://bitfs.zendesk.com/hc/zh-cn/sections/360007919094-API%E5%85%AC%E5%91%8A">这里</a>查看，如您想更快得知可进行关注！



## 联系我们

使用过程中如有问题或建议，请通过以下方式联系我们：

- Email：service@bitfs.com

- 进入BITFS官网点击右下角【支持】按钮联系我们

